@{
    Page.Title = "主页";
    Layout = "~/_SiteLayout.cshtml";
}

<table>

    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>语文</th>
        <th>数学</th>
        <th>总分</th>
    </tr>
    <tr>
        @{ }
    </tr>
</table>